---
import Introduction from '../layouts/Introduction.astro';
import Layout from '../layouts/Layout.astro';
import Navbar from '../layouts/Navbar.astro';
import projectsJSON from "../../public/projects.json";
---

<Layout title="Welcome to Astro.">
	
	<Navbar />
	<Introduction />
	<!-- Projects -->
	<div>
		<div>
			<h1>Projects</h1>
			<span>btw: this personal site was made with astrojs</span>
		</div>
		<!-- projects -->
		<div>
			{projectsJSON.projects.map(project => {
				return <pre>{JSON.stringify(project, null, 2)}</pre>
			})}
		</div>
	</div>

</Layout>