---
import {Icon} from "astro-icon"
import Email from "../components/Email.astro";
---
<div class="pb-20">
  <h1 class="font-Roboto text-lg leading-relaxed mt-4 font-semibold">Contact me</h1>
  <div class="space-y-2 mt-2">
    <Email />
  <p><span class="tracking-widest">---</span> or <span class="tracking-widest">---</span></p>
  <div class="flex space-x-4">
    <a target="_blank" href="https://twitter.com/_itslekan"><Icon pack="mdi" name="twitter" class="w-8 hover:text-pink-800 cursor-pointer" /></a>
    <a target="_blank"  href="htt;s://github.com/crazycodestar"><Icon pack="mdi" name="github" class="w-8 hover:text-pink-800 cursor-pointer"  /></a>
    <a target="_blank"  href="https://linkedin.com/olamilekan_adekanmbi"><Icon pack="mdi" name="linkedin" class="w-8 hover:text-pink-800 cursor-pointer"  /></a>
  </div>
  </div>
</div>