<nav class="fixed top-0 left-0 right-0 h-16 w-screen backdrop-blur-sm bg-white/30 flex items-center ">

<div class="w-full max-w-[1000px] px-4 mx-auto space-y-12 ">
  <!-- header -->
  <div><h1 class="font-bold text-xl">Olalekan</h1></div>
</div>
</nav>