<nav class="fixed top-0 left-0 right-0 h-16 w-screen px-8 flex justify-between items-center backdrop-blur-0 bg-slate-300">
  <!-- header -->
  <div><h1 class="font-bold text-xl font-Source_Sans_Pro tracking-wider">Olalekan</h1></div>
</nav>